*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right,gold,green,rgb(193, 193, 57), #a7e706);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid rgb(54, 9, 233);
  border-radius: 20px;
  outline: none;
  
  background-color: rgba(231, 11, 55, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(49, 197, 83, 0.9);
  color: red;
  font-size: 2rem;
  border:5px solid #0fd15d;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(89, 75, 75, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 3px solid yellow;
  word-break: break-all;
  
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: #f6e30e;
  font-size: 2.5rem;
  font-weight: 800;
}