*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(to top,teal,red);
    background: linear-gradient(to right,green,#eded41,rgb(222, 116, 116),green,gold);
}
.cal-grid{
    display: grid;
    margin-top: 2.2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
    justify-content: center;
}
.span-two{
    grid-column: span 2;

}
.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
    border-radius: 15px;
    border: 2px solid red;
}
.cal-grid >button{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid rgb(90, 13, 234);
    outline: none;
    background-color: rgba(255,255,255,.75);
    border-radius: 15px;
}
.cal-grid > button:hover{
background-color: blanchedalmond;
}
.cal-grid > button :focus{
    background-color: rgba(68, 84, 174, 0.9);
}
.output .pre-operand{
    color: whitesmoke;
    font-size: 1.5rem;
}
.output .curr-op{
    color: white;
    font-size: 2.5rem;
}